
body, html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}



/* Font Face Definitions */
@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/geist/GeistVF.woff2") format("woff2"),
       url("../assets/fonts/geist/GeistVF.woff") format("woff");
}



.nav {
  width: 100vw;
  left: 0;
  padding: 1rem; /* Equivalent to p-4 */
  display: flex;
  align-items: center; /* Equivalent to items-center */
  justify-content: center; /* Equivalent to justify-center */
  z-index: 50; /* Equivalent to z-50 */
  margin-left: calc(-50vw + 50%); 
  margin-top: -1.56vw;
  margin-right: calc(-50vw + 50%);
  background: linear-gradient(135deg, #231F20, #8E793E); /* Initial gradient */
  overflow: hidden;
  background-color:#8E793E; 
}


.font-details-off {
  font-feature-settings: "clig" off, "liga" off;
}


/* Gradient Background Animation */
main {
  background: linear-gradient(60deg, #231F20, #8E793E, #EAEAEA, #AD974F);
  background-size: 300% 300%;
  animation: gradientShift 7s ease-in-out infinite;
  padding: 2rem;
  
  /* Hide Scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


/* Gradient Animation */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Common Styles */
.joke-card {
  padding: 1.5rem;
  position: fixed;
  margin: 1rem;
  background: linear-gradient(to right, #373737, #4D4637);
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 600px;
  color: white;
  margin-bottom: 25%;
}

.joke-text {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Geist', sans-serif;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


/* Generate Button Styling */
#generate-btn {
  color: white;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: 'Geist', sans-serif;
  border: none; 
  background-color: transparent;
  backdrop-filter: blur(8px); /* Applies a blur effect to the background */
}

#generate-btn:hover {
  backdrop-filter: blur(8px);
  transform: scale(1.03);
  transform: scaleX(1.15);
}




/* Main container styling */
#main-container {
  display: flex;
  justify-content: space-between;
  width: 100vw; /* Full width of the viewport */
  margin-left: calc(-50vw + 50%); /* Center and expand to the edges */
  margin-right: calc(-50vw + 50%);
  position: relative; /* Necessary for layering */
  overflow: hidden; /* Hide overflow from pseudo-elements */
  background: linear-gradient(135deg, #231F20, #8E793E); /* Initial gradient */
  transition-property: background-color, background-position, background-size; /* Specify properties */
  transition-duration: 1s; /* Duration of the transition */
  transition-timing-function: ease; /* Smooth transition */
}

/* Gradient background on hover */
#main-container:hover {
  background: linear-gradient(to right, #8E793E, #231F20); /* Gradient change on hover */
}


/* Title Container Styling */
#title-container {
  width: 25%;
  padding-bottom: 10px;
  text-align: left;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#choose-text {
  color: white;
  font-size: 1.5rem;
  font-family: 'Geist', sans-serif;
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.option-text {
  font-size: larger;
  font-family: 'Geist';
  color: white;
  padding-right: 20px;
}

.selector > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}



/* Custom Checkbox Styling */
.custom-checkbox {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid white;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.custom-checkbox:checked {
  background-color: #231F20;
  border-color: #231F20;
}

.nav-bar {
  width: 100%;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 50;
  background-color: #AD974F; /* Adjusted for 'bg-yellow' */
}

.nav-content {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(10px); /* 'backdrop-blur-lg' */
  border-radius: 9999px; /* 'rounded-full' */
  border: 1px solid rgba(0, 0, 0, 0.2); /* 'border-black/20' */
  transition: background-color 0.3s ease-in-out;
}

.nav-content:hover {
  background-color: rgba(255, 255, 255, 0.8); /* 'hover:bg-white/80' */
}

.about-link {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 62.5rem;
  transition: background-color 0.3s ease-in-out;
  height: 2.5rem; /* 'h-10' */
}

.about-link:hover {
  background-color: rgba(255, 255, 255, 0.8); /* 'hover:bg-white/80' */
  color: #231F20;
}



#about-container {
  position: relative; /* Ensure positioning context for child elements */
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center content horizontally */
}

/* About title */
.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem; /* Space below the title */
}



.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-text {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

.linkedin-link {
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
}

.linkedin-link:hover {
  text-decoration: underline;
}

/* Center the title and content */
.center-about-container {
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Center vertically if needed */
}