main {
  background: linear-gradient(60deg, #231f20, #8e793e, #eaeaea, #ad974f);
  background-size: 300% 300%;
  animation: gradientShift 7s ease-in-out infinite;
  padding: 2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body,
html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Define new font */
@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/geist/GeistVF.woff2") format("woff2"),
  url("../assets/fonts/geist/GeistVF.woff") format("woff");
}

.nav {
  width: 100vw;
  left: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  margin-left: calc(-50vw + 50%);
  margin-top: -1.56vw;
  margin-right: calc(-50vw + 50%);
  background: linear-gradient(135deg, #231f20, #8e793e);
  
  overflow: hidden;
  background-color: #8e793e;
}


.bar {
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  display: flex;
  align-items: center; /* items-center */
  width: 100%; /* w-full */
  max-width: 400px; /* max-w-[400px] */
  backdrop-filter: blur(10px); /* backdrop-blur-lg */
  border-radius: 9999px; /* rounded-full */
  border: 1px solid rgba(0, 0, 0, 0.2); /* border-black/20 */
  transition: background-color 0.3s; /* transition-colors duration-300 */
  border: none;
}

.bar:hover {
  background-color: rgba(255, 255, 255, 0.8); /* hover:bg-white/80 */
}


.joke-card {
  padding: 1.5rem;
  position: fixed;
  margin: 1rem;
  background: linear-gradient(to right, #373737, #4d4637);
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 600px;
  color: white;
  margin-bottom: 25%;
}

.joke-text {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Geist", sans-serif;
}

/* Floating Effect */
@keyframes floatingEffect {
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(1.02) translateY(-5px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}



.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  animation: floatingEffect 4s ease-in-out infinite;
  /* Faster floating effect */
}



/* Generate Button Styling */
#generate-btn {
  color: white;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Geist", sans-serif;
  border: none;
  background-color: transparent;
  backdrop-filter: blur(8px);
  /* Applies a blur effect to the background */
}

#generate-btn:hover {
  backdrop-filter: blur(8px);
  transform: scale(1.03);
  transform: scaleX(1.15);
}

/* Main container styling */
#select-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  /* Full width of the viewport */
  margin-left: calc(-50vw + 50%);
  /* Center and expand to the edges */
  margin-right: calc(-50vw + 50%);
  position: relative;
  /* Necessary for layering */
  overflow: hidden;
  /* Hide overflow from pseudo-elements */
  background: linear-gradient(135deg, #231f20, #8e793e);
  /* Initial gradient */
  transition-property: background-color, background-position, background-size;
  /* Specify properties */
  transition-duration: 1s;
  /* Duration of the transition */
  transition-timing-function: ease;
  /* Smooth transition */
}

/* Gradient background on hover */
#select-container:hover {
  background: linear-gradient(to right, #8e793e, #231f20);
  /* Gradient change on hover */
}

/* Title Container Styling */
#title-container {
  width: 25%;
  padding-bottom: 10px;
  text-align: left;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#choose-text {
  color: white;
  font-size: 1.5rem;
  font-family: "Geist", sans-serif;
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.option-text {
  font-size: larger;
  font-family: "Geist";
  color: white;
  padding-right: 20px;
}

.selector > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}


.custom-checkbox {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid white;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox:checked {
  background-color: #231f20;
  border-color: #231f20;
}

/* .nav-bar {
  width: 100%;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 50;
  background-color: #ad974f;
}

.nav-content {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(10px);
  border-radius: 9999px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.nav-content:hover {
  background-color: rgba(255, 255, 255, 0.8);
} */

.about-link {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 62.5rem;
  transition: background-color 0.3s ease-in-out;
  height: 2.5rem;
  /* 'h-10' */
}

.about-link:hover {
  background-color: rgba(255, 255, 255, 0.8);
  /* 'hover:bg-white/80' */
  color: #231f20;
}

@keyframes slideIn {
  0% {
    transform: translateY(30px) scale(0.9);
    /* Start below and slightly scaled down */
    opacity: 0;
    /* Start as invisible */
  }

  50% {
    transform: translateY(15px) scale(1.02);
    /* Intermediate position with a slight scale up */
    opacity: 0.5;
    /* Partially visible */
  }

  100% {
    transform: translateY(0) scale(1);
    /* End at final position with normal scale */
    opacity: 1;
    /* Fully visible */
  }
}

#about-container {
  position: relative;
  /* Ensure positioning context for child elements */
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  /* Transparent background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* Center content horizontally */
  backdrop-filter: blur(10px);
  /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */
  animation: slideIn 0.8s ease-out;
  /* Apply animation */
}

/* About title */
.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  /* Space below the title */
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-text {
  color: black;
  font-family: "Geist";
  font-size: 1.6vw;
  line-height: 1.5;
}

.linkedin-link {
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
}

.linkedin-link:hover {
  text-decoration: underline;
}

/* Center the title and content */
.center-about-container {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* Center vertically if needed */
}

.about_home {
  background-color: black;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 62.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.about_home:hover {
  transform: scale(1.05);
}

